@{
    ViewData["Title"] = "Registrarse";
    ViewData["mostrarHeaderLanding"] = true;
}

<div class="registro-container">
    <div class="registro-card">
        <div class="registro-header">
            <img src="~/Content/Images/logo_tandem.png" alt="Logo Tandem">
            <h2>Avanzamos Juntos</h2>
        </div>

        <h1>Registrarse</h1>
        
        <form method="post" action='@Url.Action("Registrarse2", "Account")'>
            <ul>
                <li>Nombre de usuario:
                    <input type="text" name="userName" placeholder="Nombre de usuario">
                </li>
                <li>Contraseña:
                    <input type="password" name="contraseña" placeholder="Contraseña">
                </li>
                <li>Repetir Contraseña:
                    <input type="password" name="contraseña1" placeholder="Contraseña">
                </li>
                <li>Email:
                    <input type="text" name="email" placeholder="Email">
                </li>
            </ul>

            <div class="InputRadio">
                <input type="radio" id="responsable" name="tipoUser" value="responsable" checked>
                <label for="responsable">Responsable</label>

                <input type="radio" id="perteneciente" name="tipoUser" value="perteneciente">
                <label for="perteneciente">Perteneciente</label>
            </div>

            <button type="submit" class="btn btn-primary">Registrarte</button>
        </form>

        <p>¿Ya tenés cuenta?
            <a href='@Url.Action("LogIn1", "Account")'>Iniciá sesión</a>
        </p>
    </div>
</div>