USE [master]
GO
/****** Object:  Database [Tandem]    Script Date: 13/11/2025 08:20:54 ******/
CREATE DATABASE [Tandem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tandem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tandem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tandem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tandem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tandem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tandem]
GO
/****** Object:  User [alumno]    Script Date: 13/11/2025 08:20:54 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 13/11/2025 08:20:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[dificultad] [int] NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[topico] [varchar](50) NOT NULL,
	[recompensa] [int] NOT NULL,
	[progreso] [int] NOT NULL,
	[favorito] [bit] NULL,
	[imagen] [varchar](50) NULL,
	[ActionName] [varchar](50) NOT NULL,
	[estaBloqueado] [bit] NOT NULL,
 CONSTRAINT [PK_Actividades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActividadUsuario]    Script Date: 13/11/2025 08:20:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idActividadUsuario] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[progreso] [int] NOT NULL,
	[tiempoNeto] [datetime] NOT NULL,
	[idActividad] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_ActividadUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntasPictogramas]    Script Date: 13/11/2025 08:20:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntasPictogramas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](50) NOT NULL,
	[opcion1] [varchar](50) NOT NULL,
	[opcion2] [varchar](50) NOT NULL,
	[opcion3] [varchar](50) NOT NULL,
	[opcion4] [varchar](50) NOT NULL,
	[respuestaCorrecta] [varchar](50) NOT NULL,
	[idActividad] [int] NOT NULL,
 CONSTRAINT [PK_PreguntasPictogramas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutorias]    Script Date: 13/11/2025 08:20:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTutor] [int] NOT NULL,
	[idPerteneciente] [int] NOT NULL,
	[parentezco] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tutorias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/11/2025 08:20:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NULL,
	[tipoUsuario] [varchar](50) NOT NULL,
	[telefono] [int] NULL,
	[nivelApoyo] [varchar](50) NULL,
	[fechaIngreso] [datetime] NULL,
	[puntos] [int] NULL,
	[mail] [varchar](50) NOT NULL,
	[fotoPerfil] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actividades] ON 

INSERT [dbo].[Actividades] ([id], [nombre], [categoria], [dificultad], [descripcion], [topico], [recompensa], [progreso], [favorito], [imagen], [ActionName], [estaBloqueado]) VALUES (2, N'AdivinarPictograma', N'Lenguaje Visual', 1, N'Elegí la palabra que mejor representa la imagen mostrada.', N'Asociación', 50, 0, 0, N'pictogramaBase.png', N'AdivinarPictograma', 0)
SET IDENTITY_INSERT [dbo].[Actividades] OFF
GO
SET IDENTITY_INSERT [dbo].[PreguntasPictogramas] ON 

INSERT [dbo].[PreguntasPictogramas] ([id], [imagen], [opcion1], [opcion2], [opcion3], [opcion4], [respuestaCorrecta], [idActividad]) VALUES (3, N'ImgPictograma1', N'Correr', N'Dormir', N'Comer', N'Jugar', N'Comer', 2)
SET IDENTITY_INSERT [dbo].[PreguntasPictogramas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombreUsuario], [contraseña], [nombre], [apellido], [fechaNacimiento], [tipoUsuario], [telefono], [nivelApoyo], [fechaIngreso], [puntos], [mail], [fotoPerfil], [descripcion]) VALUES (1, N'mati', N'1111', NULL, NULL, NULL, N'responsable', NULL, NULL, NULL, NULL, N'sakdjdhka@gmail.com', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Actividades] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividades] ([id])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Actividades]
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Usuarios]
GO
ALTER TABLE [dbo].[PreguntasPictogramas]  WITH CHECK ADD  CONSTRAINT [FK_PreguntasPictogramas_Actividades] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividades] ([id])
GO
ALTER TABLE [dbo].[PreguntasPictogramas] CHECK CONSTRAINT [FK_PreguntasPictogramas_Actividades]
GO
ALTER TABLE [dbo].[Tutorias]  WITH CHECK ADD  CONSTRAINT [FK_Tutorias_Usuarios] FOREIGN KEY([idTutor])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Tutorias] CHECK CONSTRAINT [FK_Tutorias_Usuarios]
GO
ALTER TABLE [dbo].[Tutorias]  WITH CHECK ADD  CONSTRAINT [FK_Tutorias_Usuarios1] FOREIGN KEY([idPerteneciente])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Tutorias] CHECK CONSTRAINT [FK_Tutorias_Usuarios1]
GO
USE [master]
GO
