USE [master]
GO
/****** Object:  Database [Tandem]    Script Date: 20/11/2025 10:26:12 ******/
CREATE DATABASE [Tandem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tandem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tandem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tandem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tandem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tandem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tandem]
GO
/****** Object:  User [alumno]    Script Date: 20/11/2025 10:26:12 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[dificultad] [int] NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[topico] [varchar](50) NOT NULL,
	[recompensa] [int] NOT NULL,
	[progreso] [int] NOT NULL,
	[favorito] [bit] NULL,
	[imagen] [varchar](50) NULL,
	[estaBloqueado] [bit] NOT NULL,
 CONSTRAINT [PK_Actividades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActividadUsuario]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idActividadUsuario] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[progreso] [int] NOT NULL,
	[tiempoNeto] [datetime] NOT NULL,
	[idActividad] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_ActividadUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntasPictogramas]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntasPictogramas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](50) NOT NULL,
	[opcion1] [varchar](50) NOT NULL,
	[opcion2] [varchar](50) NOT NULL,
	[opcion3] [varchar](50) NOT NULL,
	[opcion4] [varchar](50) NOT NULL,
	[respuestaCorrecta] [varchar](50) NOT NULL,
	[idActividad] [int] NOT NULL,
 CONSTRAINT [PK_PreguntasPictogramas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutorias]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTutor] [int] NOT NULL,
	[idPerteneciente] [int] NOT NULL,
	[parentezco] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tutorias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[fechaNacimiento] [datetime] NULL,
	[tipoUsuario] [varchar](50) NOT NULL,
	[telefono] [int] NULL,
	[nivelApoyo] [varchar](50) NULL,
	[fechaIngreso] [datetime] NULL,
	[puntos] [int] NULL,
	[mail] [varchar](50) NOT NULL,
	[fotoPerfil] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[PreguntaActual] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actividades] ON 

INSERT [dbo].[Actividades] ([id], [nombre], [categoria], [dificultad], [descripcion], [topico], [recompensa], [progreso], [favorito], [imagen], [estaBloqueado]) VALUES (6, N'AdivinarPictograma', N'Juego', 1, N'Elegí la palabra que mejor describe la imagen', N'Pictogramas', 100, 0, NULL, N'AdvImgPictograma', 0)
SET IDENTITY_INSERT [dbo].[Actividades] OFF
GO
SET IDENTITY_INSERT [dbo].[ActividadUsuario] ON 

INSERT [dbo].[ActividadUsuario] ([id], [idActividadUsuario], [fechaInicio], [fechaFin], [progreso], [tiempoNeto], [idActividad], [idUsuario]) VALUES (1, 6, CAST(N'2025-11-20T09:36:36.040' AS DateTime), CAST(N'2025-11-20T09:55:45.630' AS DateTime), 100, CAST(N'1900-01-01T00:00:00.000' AS DateTime), 6, 1)
SET IDENTITY_INSERT [dbo].[ActividadUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[PreguntasPictogramas] ON 

INSERT [dbo].[PreguntasPictogramas] ([id], [imagen], [opcion1], [opcion2], [opcion3], [opcion4], [respuestaCorrecta], [idActividad]) VALUES (1, N'ImgPicto1', N'Beber', N'Saltar', N'Correr', N'Nadar', N'Beber', 6)
INSERT [dbo].[PreguntasPictogramas] ([id], [imagen], [opcion1], [opcion2], [opcion3], [opcion4], [respuestaCorrecta], [idActividad]) VALUES (2, N'ImgPicto2', N'Leer', N'Escribir', N'Pintar', N'Hablar', N'Leer', 6)
INSERT [dbo].[PreguntasPictogramas] ([id], [imagen], [opcion1], [opcion2], [opcion3], [opcion4], [respuestaCorrecta], [idActividad]) VALUES (3, N'ImgPicto3', N'Correr', N'Dormir', N'Comer', N'Jugar', N'Comer', 6)
SET IDENTITY_INSERT [dbo].[PreguntasPictogramas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutorias] ON 

INSERT [dbo].[Tutorias] ([id], [idTutor], [idPerteneciente], [parentezco]) VALUES (1, 1, 2, N'hijo')
SET IDENTITY_INSERT [dbo].[Tutorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombreUsuario], [contraseña], [nombre], [apellido], [fechaNacimiento], [tipoUsuario], [telefono], [nivelApoyo], [fechaIngreso], [puntos], [mail], [fotoPerfil], [descripcion], [PreguntaActual]) VALUES (1, N'mati', N'1111', NULL, NULL, NULL, N'responsable', NULL, NULL, NULL, 200, N'sakdjdhka@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([id], [nombreUsuario], [contraseña], [nombre], [apellido], [fechaNacimiento], [tipoUsuario], [telefono], [nivelApoyo], [fechaIngreso], [puntos], [mail], [fotoPerfil], [descripcion], [PreguntaActual]) VALUES (2, N'mateo', N'1234', NULL, NULL, NULL, N'perteneciente', NULL, NULL, NULL, NULL, N'M&M@mail.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Actividades] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividades] ([id])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Actividades]
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Usuarios]
GO
ALTER TABLE [dbo].[PreguntasPictogramas]  WITH CHECK ADD  CONSTRAINT [FK_PreguntasPictogramas_Actividades] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividades] ([id])
GO
ALTER TABLE [dbo].[PreguntasPictogramas] CHECK CONSTRAINT [FK_PreguntasPictogramas_Actividades]
GO
ALTER TABLE [dbo].[Tutorias]  WITH CHECK ADD  CONSTRAINT [FK_Tutorias_Usuarios] FOREIGN KEY([idTutor])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Tutorias] CHECK CONSTRAINT [FK_Tutorias_Usuarios]
GO
ALTER TABLE [dbo].[Tutorias]  WITH CHECK ADD  CONSTRAINT [FK_Tutorias_Usuarios1] FOREIGN KEY([idPerteneciente])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Tutorias] CHECK CONSTRAINT [FK_Tutorias_Usuarios1]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProgresoActividad]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Modificamos el procedimiento existente para asegurar el valor de la columna problemática
CREATE PROCEDURE [dbo].[ActualizarProgresoActividad]
    @pIdUsuario INT,
    @pIdActividad INT,
    @pProgreso INT 
AS
BEGIN
    -- 1. Intenta actualizar el registro si ya existe
    UPDATE dbo.ActividadUsuario 
    SET progreso = @pProgreso, 
        fechaFin = GETDATE()
    WHERE idUsuario = @pIdUsuario AND idActividad = @pIdActividad;
    
    -- 2. Si no existe (es un registro nuevo), realiza el INSERT.
    -- La inserción ahora provee un valor para idActividadUsuario.
    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO dbo.ActividadUsuario (
            idActividadUsuario,  -- <--- COLUMNA INCLUIDA
            idUsuario, 
            idActividad, 
            fechaInicio, 
            fechaFin, 
            progreso, 
            tiempoNeto
        )
        VALUES (
            @pIdActividad, -- <--- VALOR NO NULO ASIGNADO (Usamos el Id de la Actividad)
            @pIdUsuario, 
            @pIdActividad, 
            GETDATE(), 
            GETDATE(), 
            @pProgreso, 
            '1900-01-01 00:00:00.000'
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarPuntosUsuario]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarPuntosUsuario]	
@pPuntos int,
@pId int
AS
BEGIN
UPDATE Usuarios SET puntos = @pPuntos WHERE id = @pId
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuario]
@pNombre varchar(50), 
@pApellido varchar(50),
@pFechaNacimiento varchar(50), 
@pDescripcion varchar(50),
@pTelefono varchar(50),
@pNivelApoyo int,
@pFotoPerfil varchar(50),
@pId int

AS
BEGIN
UPDATE Usuarios SET nombreUsuario = @pNombre, apellido = @pApellido, fechaNacimiento = @pFechaNacimiento, descripcion = @pDescripcion, telefono = @pTelefono, nivelApoyo = @pNivelApoyo, fotoPerfil = @pFotoPerfil WHERE id = @pId
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarVinculoBD]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarVinculoBD]	
@pIdTutor int,
@pIdPerteneciente int,
@pParentezco int
AS
BEGIN
INSERT INTO Tutorias(idTutor, idPerteneciente, parentezco) VALUES (@pIdTutor, @pIdPerteneciente, @pParentezco)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
@pNombreUSU varchar(50), 
@pContraseña varchar(50),
@ptipoUsuario varchar(50), 
@pmail varchar(50)
AS
BEGIN
INSERT INTO Usuarios (nombreUsuario, contraseña, tipoUsuario, mail) VALUES ( @pNombreUSU, @pContraseña, @ptipoUsuario, @pmail)
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
@nombre varchar(50)
AS
BEGIN
DELETE FROM Usuarios WHERE nombreUsuario = @nombre
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarVinculoBD]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarVinculoBD]	
@pIdTutor int,
@pIdPerteneciente int
AS
BEGIN
DELETE FROM Tutorias WHERE idTutor = @pIdTutor AND idPerteneciente = @pIdPerteneciente
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPreguntas]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTotalPreguntas]	
AS
BEGIN
SELECT COUNT(*) FROM PreguntasPictogramas
END
GO
/****** Object:  StoredProcedure [dbo].[ListaUsuariosDisponibles]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListaUsuariosDisponibles]	
@idTutor int
AS
BEGIN
SELECT * FROM Usuarios WHERE tipoUsuario = 'perteneciente' AND Id NOT IN (SELECT idPerteneciente FROM Tutorias WHERE idTutor = @idTutor)
END
GO
/****** Object:  StoredProcedure [dbo].[ListaVinculos]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListaVinculos]
@idUser int
AS
BEGIN
DECLARE @tipo VARCHAR(20);

SELECT @tipo = tipoUsuario
FROM Usuarios
WHERE id = @idUser;

SELECT *
FROM Usuarios
WHERE
    (
        @tipo = 'responsable'
        AND tipoUsuario = 'perteneciente'
        AND id IN (
            SELECT idPerteneciente
            FROM Tutorias
            WHERE idTutor = @idUser
        )
    )
    OR
    (
        @tipo = 'perteneciente'
        AND tipoUsuario = 'responsable'
        AND id IN (
            SELECT idTutor
            FROM Tutorias
            WHERE idPerteneciente = @idUser
        )
    );


END
GO
/****** Object:  StoredProcedure [dbo].[TraerActividadesPendientes]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Crear el nuevo Stored Procedure
CREATE PROCEDURE [dbo].[TraerActividadesPendientes]
    @pIdUsuario INT
AS
BEGIN
    -- Unir la tabla Actividades (A) con la tabla ActividadUsuario (AU)
    -- y filtrar por el progreso del usuario.
    SELECT
        A.id,
        A.nombre,
        A.categoria,
        A.dificultad,
        A.descripcion,
        A.topico,
        A.recompensa,
        AU.progreso,      -- <--- Sobreescribe el progreso con el valor específico del usuario
        A.imagen,
        -- NOTA: 'favorito' no existe en la tabla ActividadUsuario en tu script.
        -- Si necesitas favorito, asegúrate de que exista en ActividadUsuario.
        -- Por ahora, si Actividades.favorito es la columna correcta, descomenta la siguiente línea:
       A.favorito 
    FROM
        dbo.Actividades A
    INNER JOIN
        dbo.ActividadUsuario AU ON A.id = AU.idActividad -- Enlace entre actividad y usuario
    WHERE
        AU.idUsuario = @pIdUsuario  -- Filtra por el usuario logueado
        AND AU.progreso < 100;      -- Condición para que sea "pendiente"
END
GO
/****** Object:  StoredProcedure [dbo].[TraerListaActividades]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerListaActividades]

AS
BEGIN
SELECT * FROM Actividades
END
GO
/****** Object:  StoredProcedure [dbo].[TraerListaUsuarios]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerListaUsuarios]

AS
BEGIN
SELECT * FROM Usuarios
END
GO
/****** Object:  StoredProcedure [dbo].[TraerPregunta]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TraerPregunta]	
@IdPregunta int
AS
BEGIN
SELECT * FROM PreguntasPictogramas WHERE Id = @IdPregunta
END
GO
/****** Object:  StoredProcedure [dbo].[TraerPreguntas]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TraerPreguntas]	

AS
BEGIN
SELECT * FROM PreguntasPictogramas
END
GO
/****** Object:  StoredProcedure [dbo].[TraerUnUsuario]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerUnUsuario]
@pNombreUsuarios varchar(50),
@pContraseña varchar(50)
AS
BEGIN
SELECT * FROM Usuarios where nombreUsuario = @pNombreusuarios AND contraseña = @pContraseña
END
GO
/****** Object:  StoredProcedure [dbo].[VerificarRespuestaBD]    Script Date: 20/11/2025 10:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VerificarRespuestaBD]	
@pIdPregunta int,
@pOpcion varchar(50)
AS
BEGIN
SELECT COUNT(1) FROM PreguntasPictogramas WHERE Id = @pIdPregunta AND respuestaCorrecta = @pOpcion
END
GO
USE [master]
GO
