USE [master]
GO
/****** Object:  Database [Tandem]    Script Date: 16/10/2025 11:44:59 ******/
CREATE DATABASE [Tandem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tandem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tandem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tandem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tandem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tandem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tandem]
GO
/****** Object:  User [alumno]    Script Date: 16/10/2025 11:44:59 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 16/10/2025 11:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[dificultad] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[topico] [varchar](50) NOT NULL,
	[recompensa] [int] NOT NULL,
	[progreso] [int] NOT NULL,
	[favorito] [bit] NULL,
	[imagen] [varchar](50) NULL,
 CONSTRAINT [PK_Actividades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActividadUsuario]    Script Date: 16/10/2025 11:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idActividadUsuario] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[progreso] [int] NOT NULL,
	[tiempoNeto] [datetime] NOT NULL,
	[IdActividad] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_ActividadUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/10/2025 11:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[tipoUsuario] [varchar](50) NOT NULL,
	[telefono] [int] NULL,
	[nivelApoyo] [varchar](50) NULL,
	[fechaIngreso] [datetime] NOT NULL,
	[puntos] [int] NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[fotoPerfil] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Actividades] FOREIGN KEY([IdActividad])
REFERENCES [dbo].[Actividades] ([Id])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Actividades]
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Usuarios]
GO
USE [master]
GO
