@{
    ViewData["Title"] = "Actividades";
}
<body>

  <section class="seccion-actividades">
    <div class="fondo-amarillo"></div>
    <h2 class="titulo">Actividades</h2>

    <div class="decorativos">
      <div class="circulo violeta"></div>
      <div class="circulo celeste"></div>
    </div>

    <div class="contenedor-botones">
      <div class="tarjeta pictogramas">
        Pictogramas
        <div class="boton-play"><i></i></div>
      </div>

      <div class="tarjeta juegos">
        Juegos
        <a href='@Url.Action("JuegoPictogramas", "Home")'><div class="boton-play"><i></i></div></a>
      </div>
    </div>
  </section>

</body>