@{
    ViewData["Title"] = "Favoritos";
    if(ViewBag.usuario.tipoUsuario == "perteneciente"){
    ViewData["mostrarHeaderLanding"] = false;
    ViewData["mostrarHeaderTutor"] = false;
    ViewData["mostrarHeaderPerteneciente"] = true;
    } else{
    ViewData["mostrarHeaderLanding"] = false;
    ViewData["mostrarHeaderTutor"] = true;
    ViewData["mostrarHeaderPerteneciente"] = false;
    }
}
<h1> no tienes favoritos aun </h1>