@{
    ViewData["Title"] = "Home";
  
}
<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
//lesan pone aca el carrousel 
 



<div class ="comenzarActividades ">
<h2>Hola! bienvenido a Támden, </h2>
<h2>¿Listo para descubrir una nueva actividad hoy?  </h2>
<a href='@Url.Action("Actividades", "Home")' class="botonComenzarAct">Comenzar Actividad</a>
</div>


<div class ="ActividadesPendientes ">
<h2>Tareas Pendientes: </h2>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
  
  @foreach(var actividad in ViewBag.TareasPendientes){
    
     <div class="carousel-item active">
      <img src="@actividad.imagen" class="d-block w-100" alt="FotoActividad">
    </div>
}
   
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</div>
<div class ="ir a Chats">
<h2>¿Ya hablaste con alguien hoy?</h2>
<img src="~/Content/Images/fotoChats.png" alt="Logo Tandem" class="nav-logo">
<a href='@Url.Action("Actividades", "Home")' class="botonComenzarAct">Habla Ahora</a>
</div>


</div>
<div class ="Contactanos">
<h2>¿Estamos para ayudarte!!! </h2>
<a href='@Url.Action("Actividades", "Home")' class="botonComenzarAct">Contactanos</a>
</div>
</div>
</body>