@{
    ViewData["Title"] = "Home";
  
}
<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
//lesan pone aca el carrousel 
 



<div class ="comenzarActividades ">
<h2>Hola! bienvenido a Támden, </h2>
<h2>¿Listo para descubrir una nueva actividad hoy?  </h2>
<a href='@Url.Action("Actividades", "Home")' class="botonComenzarAct">Comenzar Actividad</a>
</div>


<div class ="ActividadesPendientes ">
<h2>Tareas Pendientes: </h2>
//aca mateo e ilan cunado terminen de hacer su lo de act, pongan las act pendientes aca en un carousel

</div>
<div class ="ir a Chats">
<h2>¿Ya hablaste con alguien hoy?</h2>
<img src="~/Content/Images/fotoChats.png" alt="Logo Tandem" class="nav-logo">
<a href='@Url.Action("Actividades", "Home")' class="botonComenzarAct">Habla Ahora</a>
</div>


</div>
<div class ="Contactanos">
<h2>¿Estamos para ayudarte!!! </h2>
<a href='@Url.Action("Actividades", "Home")' class="botonComenzarAct">Contactanos</a>
</div>
</div>
</body>