
@{
    ViewData["Title"] = "JuegoOrdenarPictogramas";
}
<h1>¿QUE ES?</h1>
<img src="">
<a><h2 id="rta"></h2></a>
<section class= "Respuestas">
<button id= 1> </button>
<button id= 2> </button>
<button id= 3> </button>
<button id= 4> @ViewBag.o</button>
</section>
</div>


@section Scripts {
    <script src="~/js/juegoPictogramas.js"></script>
}