@{
    ViewData["Title"] = "Juegos";
}

<h1>@ViewBag.topico</h1> <!--ej: Adivina la accion-->

<img src="@ViewBag.usuario.fotoPerfil" alt="Foto de perfil" class="profile-picture" />

<!--aca habria que meter un carrouserl de cards donde los botones te mandan a la preview de un juego especifico-->