 <div>
 <img src="..." class="img-fluid" alt="..."> <!-- Logo -->
 </div>   
<section class= "login">
    <div class="mb-3">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Usuario">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Contraseña">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</section>