@{
    ViewData["Title"] = "previewJuego";
}
<!-- aca se mnuestra la preview del juego con el boton de jugar directamente-->
<a href= '@Url.Action("jugarOrdenarPictograma", "Home")'>i,mjnuhbpbiubiudniujgdrngikjb</a>