html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

























footer{
  background-color: black;
  color: white;
}

.footerDiv{

  width: 25%;
  height: 25%;
  float: left;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 5%;
  

}
.footerDiv ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.footerDiv img{
  width: 10%;
  height: 10%;
  margin-right: 2%;
}

.footerDerechos{

  clear: left;
}
.footerDerechos a{
  text-decoration: none;
  color: black;
}
.footerDerechos a:hover{
  text-decoration: underline;
  color: blue;
}
footer img{
  width: 10%;
  height: 10%;
  margin-right: 80%;
}
